.main-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .field-group {
    margin-bottom: 15px;
    svg{
      fill: $Icon-color;
      cursor: pointer;
    }
    .active-text{
      color: $Active-color;
      padding: 0px;
      margin-top: 5px;
      font-size: 15px !important;
      font-weight: 600 !important;
      svg{
        fill: $Active-color;
      };
    }
    label {
      font-size: 14px;
      font-weight: 500;
      padding-bottom: 3px;
    }
    textarea {
      min-height: 120px;
    }
    .form-control {
      width: 100%;
      height: 40px;
      border: 1px solid #bbb;
      font-size: 14px;
      border-radius: 5px;
      padding: 10px;
      box-sizing: border-box;
      &:focus {
        box-shadow: none;
        outline: 0px;
        border: 1px solid $AddSubmitButton-color;
      }
    }
    &.flexFull {
      flex: 0 0 100%;
    }
    &.flex2 {
      flex: 0 0 47%;
    }
    &.flexOne{
      flex: 1;
    }
    &.flexOneFour{
      margin-bottom: 0px;
    }
  }
  .react-tags-wrapper{
    position: relative;
    margin-bottom: 30px;
    .ReactTags__suggestions{
      position: absolute;
      width: 100%;
      top: 100%;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      background-color: $Theme-white;
      box-shadow: 2px 3px 5px #d4d4d4;

      ul{
        padding: 0px;
        margin: 0px;
        li{
          padding: 8px 10px;
          display: block;
          &:hover{
            background-color: rgb(246, 246, 246);
            cursor: pointer;
          }
        }
      }
    }
    .ReactTags__selected{
      position: absolute;
      top: 100%;
      margin-bottom: 10px;
      display: flex;
      flex-wrap: wrap;
      .tag-wrapper{
        background-color: rgba(54, 179, 126, 0.1);
        border-radius: 2px;
        display: flex;
        margin: 2px;
        min-width: 0px;
        box-sizing: border-box;
        border-radius: 2px;
        color: rgb(54, 179, 126);
        font-size: 85%;
        overflow: hidden;
        padding: 3px 3px 3px 6px;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-sizing: border-box;
        .ReactTags__remove{
          align-items: center;
          border-radius: 2px;
          display: flex;
          padding-left: 4px;
          padding-right: 4px;
          box-sizing: border-box;
          color: #36b37e;
          border: none;
          background-color: transparent;
          width: 23px;
          font-size: 14px;
          justify-content: center;
        }
      }
    }
    .ReactTags__tagInput{
      position: relative;
      .ReactTags__tagInputField{
        width: 100%;
        height: 40px;
        border: 1px solid #bbb;
        font-size: 14px;
        border-radius: 5px;
        padding: 10px;
        box-sizing: border-box;
        &:focus {
          box-shadow: none;
          outline: 0px;
          border: 1px solid $AddSubmitButton-color;
        }
      }
    }
  }
  .tagsField{
    ul{
      padding-left: 0px;
      li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
        padding-bottom: 10px;
        border-bottom: 1px solid lightgray !important;
        color: grey;
        font-weight: 500;
        font-size: 14px;
        span{
          border-width: 1px;
          border-style: solid;
          padding: 5px 15px;
          border-radius: 30px;
          svg{
            margin-right: 5px;
            font-size: 20px;
          }
        }
        .tags-actions{
          svg{
            margin-left: 15px;
          }
        }
      }
    }
  }
  .searchField{
    position: relative;
    .form-control{
      padding-left: 40px;
      box-sizing: border-box;
    }
    .search-field{
      svg{
        position: absolute;
        top: 9px;
        left: 10px;
      }
    }
  }
  .btn-groups{
    display: flex;
    margin: 15px 0px;
    justify-content: center;
  }
}

.account-form{
  margin: 30px 0px;
  background-color: #fff;
  padding: 35px;
  .btn-cancel{
    margin-right: 10px;
  }
}

.form-page-layout{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .center-form-box{
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 7px 10px #eeecec;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 7px 10px #eeecec;
    width: 45%;
    min-width: 600px;
    @include Phone{
      width: 95%;
      min-width: 95%;
    }
    h2{
      font-size: 26px;
      font-weight: 700;
      margin: 30px 0px;
    }
    .main-form{
      .field-group{
        .link-router{
          color: $Active-color;
          text-decoration: none;
        }
      }
    }
  }
}