.main-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .field-group {
    margin-bottom: 15px;
    svg{
      fill: $Icon-color;
      cursor: pointer;
    }
    .active-text{
      color: $Active-color;
      padding: 0px;
      margin-top: 5px;
      font-size: 15px !important;
      font-weight: 600 !important;
      svg{
        fill: $Active-color;
      };
    }
    label {
      font-size: 14px;
      font-weight: 500;
      padding-bottom: 3px;
    }
    textarea {
      min-height: 120px;
    }
    .form-control {
      width: 100%;
      height: 40px;
      border: 1px solid #bbb;
      font-size: 14px;
      border-radius: 5px;
      padding: 10px;
      box-sizing: border-box;
      &:focus {
        box-shadow: none;
        outline: 0px;
        border: 1px solid $AddSubmitButton-color;
      }
    }
    &.flexFull {
      flex: 0 0 100%;
    }
    &.flex2 {
      flex: 0 0 47%;
    }
    &.flexOne{
      flex: 1;
    }
    &.flexOneFour{
      margin-bottom: 0px;
    }
  }
  .tagsField{
    ul{
      padding-left: 0px;
      li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
        padding-bottom: 10px;
        border-bottom: 1px solid lightgray !important;
        color: grey;
        font-weight: 500;
        font-size: 14px;
        span{
          svg{
            margin-right: 5px;
            font-size: 20px;
          }
        }
        .tags-actions{
          svg{
            margin-left: 15px;
          }
        }
      }
    }
  }
  .searchField{
    position: relative;
    .form-control{
      padding-left: 40px;
      box-sizing: border-box;
    }
    .search-field{
      svg{
        position: absolute;
        top: 9px;
        left: 10px;
      }
    }
  }
  .btn-groups{
    display: flex;
    margin: 15px 0px;
    justify-content: center;
  }
}

.account-form{
  margin: 30px 0px;
  background-color: #fff;
  padding: 35px;
  .btn-cancel{
    margin-right: 10px;
  }
}