.normal-modal {
  .modal-dialog {
    min-width: 610px;
    .modal-content {
      .modal-header {
        justify-content: center;
        .modal-title {
          font-size: 22px;
        }
        .btn-close {
          position: absolute;
          right: 20px;
        }
      }
      .modal-body {
        padding: 30px;
        h2 {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 15px;
          margin-top: 25px;
        }
        h3 {
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 15px;
        }
      }
      .modal-footer {
        display: flex;
        justify-content: center;
        border: none;
        .btn {
          width: auto;
          padding: 10px 20px !important;
          height: auto;
          margin: 10px;
          border-radius: 30px !important;
          min-width: 120px;
          font-weight: 600 !important;
          font-family: "Poppins", sans-serif !important;
          text-transform: capitalize;
          &:hover {
            border: none !important;
          }
        }
      }
    }
  }
  .MuiBox-root {
    .MuiStepper-horizontal {
      position: relative;
      .MuiStep-horizontal {
        position: absolute;
      }
    }
  }
}

// React responsive modal

.react-responsive-modal-modal {
  margin: 0px !important;
  min-width: 720px !important;
  max-width: 720px !important;
  padding: 0px !important;
  border-radius: 5px;
  overflow-x: hidden;
  .modal-header {
    h3 {
      font-size: 20px;
      margin: 0px;
      display: block;
      text-align: center;
      width: 100%;
      padding-top: 25px;
    }
  }
  .modal-body {
    padding: 30px;
    .timeZone {
      svg {
        fill: $Icon-color;
        font-size: 27px;
        padding-left: 10px;
      }
    }
  }
  input:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }
}
.addplan-popup{
  .modal-content{
    .modal-header{
      justify-content: center;
      .modal-title{
        font-size: 22px;
        text-transform: capitalize;
      }
    }
  }
}
.price-detail-popup{
  .blankdiv{
    input{
      margin-bottom: 10px;
      outline: none;
      box-shadow: none;
      height: 40px;
    }
  }
  .StripeElement{
    height: 40px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    div{
     top: 4px;
    }
  }
  .divFordispa{
    text-align: center;
    margin-top: 10px;
    .paybtn{
      background-color: #36ddbf;
      color: #fff;
      width: auto;
      padding: 10px 20px;
      height: auto;
      margin: 10px;
      border-radius: 30px;
      min-width: 120px;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      text-transform: capitalize;
      border: none;
    }
    .canclebtn{
      width: auto;
      padding: 10px 20px;
      height: auto;
      margin: 10px;
      border-radius: 30px;
      min-width: 120px;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      text-transform: capitalize;
      border: none;
      color: #747474;
      background: #e5e5e5;
    }
  }
}