.text-main-section{
    // max-height: calc(100vh - 80px);
    height: 100%;
    overflow: hidden;
    background-color: $Theme-white;
    .nav-tabs{
        margin-bottom: 0px !important;
        position: relative;
        background-color: $Theme-white;
    }
}
.chatbox-warpper{
    height: calc(100% - 80px);
    .inner-chatbox-area{
        display: flex;
        justify-content: space-between;
        background-color: #f5f5f5;
        height: 100%;
        padding: 0px;
        padding-bottom: 0px;
        .chat-user-list{
            flex: 0 0 25%;
            height: 100%;
            background-color: $Theme-white;
            .chat-list-filter{
                height: 100%;
                .main-form{
                    padding: 5px 10px;
                    border-bottom: 1px solid lightgray;
                    height: 70px;
                    .field-group{
                        margin: 10px 0px;
                    }
                    .searchField{
                        .form-control{
                            border-radius: 30px;
                        }
                    }
                }
                .user-list-main{
                    padding-left: 0px;
                    margin: 10px 0px;
                    height: 100%;
                    overflow: auto;
                    max-height: calc(100vh - 170px);
                    li{
                        padding: 10px 10px;
                        border-top: 1px solid #dedede;
                        &:first-child{
                            border-top: none;
                        }
                        cursor: pointer;
                        &:hover{
                            background-color: #eeeeee;
                        }
                        &.active{
                            background-color: #eeeeee;
                        }
                        h5{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            font-size: 14px;
                            margin-bottom: 3px;
                            font-weight: 500;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            vertical-align: middle;
                            white-space: nowrap;
                            span{
                                color: #777;
                                font-size: 12px;
                                font-weight: 500;
                                margin-left: 5px;
                            }
                        }
                        p{
                            font-size: 13px;
                            color: $labelColor;
                            margin-bottom: 0px;
                        }
                        .chat-tag{
                            margin-top: 10px;
                            margin-bottom: 5px;
                            p{
                                margin-bottom: 10px;
                                margin-right: 5px;
                                padding: 5px 10px;
                                border-radius: 20px;
                                font-size: 13px;
                                border-width: 1px;
                                border-style: solid;
                                display: inline-block;
                                height: 30px;
                                line-height: 20px;
                                svg{
                                    font-size: 13px;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .chat-discussion-area{
            flex: 0 0 45%;
            border-left: 1px solid lightgray;
            border-right: 1px solid lightgray;
            background-color: $Theme-white;
            .all-discuss-section{
                height: 100%;
                position: relative;
                background-color: #f6f6f6;
                .chat-header{
                    height: 70px;
                    padding: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid lightgray;
                    box-sizing: border-box;
                    background-color: #fff;
                    h4{
                        text-align: center;
                        font-size: 20px;
                        color: $HeadingColor;
                        margin-bottom: 0px;
                    }
                    .header-action{
                        svg{
                            font-size: 24px;
                            cursor: pointer;
                            &:first-child{
                                margin-right: 30px;
                            }
                        }
                    }
                }
                .chat-now{
                    background-color: #f2f2f2;
                    display: flex;
                    align-items: flex-end;
                }
                .chat-text-editor{
                    border: 1px solid lightgrey;
                    min-height: 160px;
                    border-radius: 5px;
                    position: absolute;
                    bottom: 15px;
                    width: 94%;
                    margin: auto;
                    left: 3%;
                    .chat-textarea{
                        width: 100%;
                        background-color: $Theme-white;
                        textarea{
                            width: 100%;
                            border: none;
                            padding: 10px;
                            font-size: 14px;
                            outline: 0px;
                            min-height: 70px;
                            background-color: transparent;
                            &:focus{
                                outline: 0px;
                            }
                        }
                        .btn-groups{
                            justify-content: flex-end;
                            margin-top: 0px;
                            button{
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
        .chat-compassion-area{
            flex: 0 0 30%;
            background-color: $Theme-white;
            .user-compassion-details{
                padding: 15px;
                border-bottom: 1px solid lightgray;
                .user-name-head{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h4{
                        font-size: 17px;
                    }
                    svg{
                        font-size: 20px;
                        cursor: pointer;
                    }
                    .multi-inputs{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .user-edit-field{
                            flex: 0 0 48%;
                            width: 100%;
                            height: 40px;
                            color: dimgrey;
                            padding: 5px 12px;
                            border-radius: 4px;
                            &:focus{
                                border: 1px solid $Theme-ternary;
                            }
                        }
                    }
                }
                .personal-info{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-top: 25px;
                    padding-left: 0px;
                    li{
                        h5{
                            font-size: 16px;
                            font-weight: 500;
                            margin-bottom: 5px;
                            color: $HeadingColor;
                        }
                        p{
                            font-size: 13px;
                            color: $labelColor;
                        }
                        .btn-links{
                            font-size: 15px;
                            border: none;
                            background-color: transparent;
                            color: $labelColor;
                            font-weight: 600;
                            padding: 0px;
                            &:first-child{
                                margin-right: 13px;
                            }
                            &:hover{
                                color: $Active-color;
                            }
                        }
                        &:last-child{
                            display: flex;
                            flex: 0 0 100%;
                        }
                    }
                }
            }
            .monthly-balance-box{
                background-color: $Theme-ternary;
                padding: 20px;
                margin: 20px 0px;
                border-radius: 3px;
                h4{
                    text-align: center;
                    font-size: 20px;
                    color: $Theme-white;
                    margin-bottom: 25px;
                }
                ul{
                    display: flex;
                    padding: 0px;
                    justify-content: space-between;
                }
                li{
                    flex: 1;
                    color: $Theme-white;
                    font-weight: 500;
                    font-size: 15px;
                    span{
                        display: block;
                    }
                }
            }
            .conversation-tags{
                padding: 20px;
                h4{
                    font-size: 20px;
                    font-weight: 600;
                    color: $labelColor;
                    margin-bottom: 25px;
                }
                .btn-addd-tag{
                    color: $labelColor;
                    border: 1px solid $labelColor !important;
                    border-radius: 30px;
                    font-size: 13px !important;
                    font-weight: 500 !important;
                    svg{
                        font-size: 17px;
                    }
                }
                .dropdown-menu{
                    border-radius: 5px !important;
                    background-color: #fff !important;
                    max-width: 200px;
                    min-width: 230px !important;
                    box-shadow: 0px 4px 5px #dcdcdc;
                    padding: 15px !important;
                    li{
                        color: dimgrey;
                        display: block;
                        width: 100%;
                        padding: 9px 10px;
                        box-sizing: border-box;
                        font-size: 13px;
                        border: 1px solid lightgrey;
                        border-radius: 30px;
                        margin-bottom: 10px;
                        cursor: pointer;
                        &:last-child{
                            border: none !important;
                            border-top: 1px solid lightgrey;
                            margin-bottom: 0px;
                            padding: 0px;
                            .btn{
                                border: none;
                                background-color: transparent;
                                color: #655beb !important;
                                font-weight: 500;
                                text-align: center;
                                display: block;
                                margin: auto;
                            }
                        }
                        svg{
                            margin-right: 5px;
                            font-size: 17px;
                            color: dimgrey;
                        }
                    }
                }
                .dynamic-tags{
                    ul{
                        padding-top: 15px;
                        padding-left: 0px;
                        display: flex;
                        flex-wrap: wrap;
                        li{
                            margin-bottom: 10px;
                            margin-right: 5px;
                            padding: 5px 10px;
                            border-radius: 20px;
                            font-size: 11px;
                            border-width: 1px;
                            border-style: solid;
                            .remove-tag{
                                margin-left: 3px;
                                font-weight: 700;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}
.middle-chat-screen{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    max-height: calc(100vh - 355px);
    min-height: calc(100vh - 355px);
    .date-update{
        text-align: center;
        span{
            color: grey;
            font-weight: 600;
            font-size: 12px;
            display: initial;
            background-color: #f2f2f2;
            position: relative;
            z-index: 9;
            padding: 0px 10px;
        }
        p{
            width: 100%;
            height: 1px;
            background-color: lightgrey;
            position: relative;
            top: -9px;
            margin: 0px;
        }
    }
    &.voice-chat-screen{
        max-height: calc(100vh - 205px);
        min-height: calc(100vh - 205px);
        width: 100%;
        ul{
            margin-bottom: 0px;
            width: 100%;
            li{
                width: 100%;
                display: flex;
                word-break: break-word;
                &.voice-chat-list{
                    flex-direction: column;
                    align-items: flex-start;
                    .chat-ui-box{
                        display: flex;
                        align-items: center;
                        padding: 0px;
                        border: none;
                        background-color: transparent !important;
                        width: 100%;
                        .react-audio-player{
                            background-color: #fff;
                        }
                        &.user{
                            justify-content: flex-end;
                        }
                    }
                }
                .avtar{
                    img{
                        width: 35px;
                        height: 35px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                svg{
                    margin: 0px 8px;
                    font-size: 33px;
                    color: #c3bfbf;
                    cursor: pointer;
                }
                .background-recording{
                    background-image: url('./../assets/images/sound-recording.png');
                    width: 100%;
                    height: 29px;
                    object-fit: contain;
                    background-repeat: repeat;
                    background-size: contain;
                }
            }
        }
    }
    ul{
        padding: 10px;
        margin-bottom: 0px;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
        overflow: auto;
        li{
            width: 100%;
            color: #333;
            margin-bottom: 10px;
            font-size: 13px;
            word-break: break-word;
            .chat-ui-box{
                width: 80%;
                padding: 10px;
                border-radius: 6px;
                border-width: 1px;
                border-style: solid;
                pre{
                    font-size: 13px;
                    margin-bottom: 0px;
                }
                &.client{
                    border-color: #dedede;
                    background-color: $Theme-white;
                    &+span{
                        text-align: left;
                        padding-left: 4px;
                    }
                }
                &.user{
                    background-color: #edf8fe;
                    border-color: #cddfea;
                    margin-left: auto;
                    &+span{
                        text-align: right;
                        padding-right: 4px;
                    }
                }
            }
            p{
                margin-bottom: 0px;
                font-size: 12px;
                margin-top: 8px;
                b{
                    font-weight: 600 !important;
                }
            }
            span{
                display: block;
                width: 100%;
                font-size: 11px;
                color: grey;
                font-weight: 500;
            }
        }
    }
}
.voice-recorder-box{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $Theme-white;
    .recording-left{
        @include flexAllCenter;
        h4{
            font-size: 18px;
            margin-bottom: 0px;
            min-width: 65px;
        }
        span{
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: red;
            margin-right: 6px;
        }
    }
    .remove-recording-action{
        background-color: #d82626;
        width: 25px;
        height: 25px;
        display: flex;
        color: #fff;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 20px;
    }
}