// Common Variables

$Theme-secondary: #d50b48 !important;
$Theme-ternary: #2baffd !important;
$Theme-dark: #000000 !important;
$Theme-primary-light: #d6eeeb !important;
$CommonBorder: #c9c8c8 !important;
$Theme-white: #fff !important;
$labelColor: #797979 !important;
$LightButton: #e5e5e5 !important;
$Body-color: #f5f5f5 !important;
$Icon-color: #6c757d !important;
$Active-color: #655beb !important;
$Active-lightColor: #bab7fd !important;
$HeadingColor: #212529 !important;
$TableColor: #8ebfdb !important;
$Danger-color: #d44f3b !important;
$Notification-color: #f6bb3e !important;
$AddSubmitButton-color: #27dcbf !important;