// Common Variables

$Theme-primary: #6b61ff !important;
$Theme-secondary: #ff6138 !important;
$Theme-dark: #000000 !important;
$Theme-primary-light: #d6eeeb !important;
$CommonBorder: #c9c8c8 !important;
$Theme-white: #fff !important;
$labelColor: #797979 !important;
$LightButton: #e5e5e5 !important;
